

<div class="well col-md-4 col-md-offset-4">
  <h2>Zarejestruj się</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class:"form-control" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, class:"form-control" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", class:"btn btn-success" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>