<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><a href="/">Coder's Blog</a></h1>

<div class="loginpanel">

<% if user_signed_in? -%>
    <h4 id='helloh2'>Witaj <%= current_user.email -%><%= link_to ' wyloguj', destroy_user_session_path, :method=>'delete' %></h4>
        <%= link_to 'Edytuj ustawienia konta', edit_user_registration_path %>
<% else -%>
        <%= link_to 'Login', new_user_session_path %>

        <%= link_to 'Sign up', new_user_registration_path %>

<% end -%>
</div>

<%= yield %>

</body>
</html>
